@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
html,body { width: 100%; height: 100%; }
body { background: #FFC1C1; margin: 0; padding: 0; }
#cake { display: block; position: relative;transform: translateY(-16px); margin: -10em auto 0 auto; }
/* ============================================== Candle
*/.velas { background: #ffffff; border-radius: 15px; position: absolute; top: 530px; left: 49%; width: 24px; height: 180px; -webkit-transform: translateY(-450px); -ms-transform: translateY(-450px); transform: translateY(-200px); -webkit-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-animation: in 500ms 6s ease-out forwards; animation: in 500ms 6s ease-out forwards; }
.velas:after,.velas:before { background: rgba(255,0,0,0.4); content: ""; position: absolute; width: 100%; height: 4.22222222px; }
.velas:after { top: 20%; left: 0; }
.velas:before { top: 80%; left: 0; }
#velas:after,#velas:before { background: rgba(255,0,0,0.4); content: ""; position: absolute; width: 100%; height: 4.22222222px; }
#velas:before { top: 40%; left: 0; }
#velas:after { top: 60%; left: 0; }
/* ============================================== Fire
*/.fuego { border-radius: 100%; position: absolute; top: -48px; left: calc(50% - 6px); margin-left: -2.2px; width: 18px; height: 52px; }
.fuego:nth-child(1) { -webkit-animation: fuego 2s 6.5s infinite; animation: fuego 2s 6.5s infinite; }
.fuego:nth-child(2) { -webkit-animation: fuego 1.5s 6.5s infinite; animation: fuego 1.5s 6.5s infinite; }
.fuego:nth-child(3) { -webkit-animation: fuego 1s 6.5s infinite; animation: fuego 1s 6.5s infinite; }
.fuego:nth-child(4) { -webkit-animation: fuego 0.5s 6.5s infinite; animation: fuego 0.5s 6.5s infinite; }
.fuego:nth-child(5) { -webkit-animation: fuego 0.2s 6.5s infinite; animation: fuego 0.2s 6.5s infinite; }
/* ============================================== Animation Fire
*/@-webkit-keyframes fuego {
  0%,100% { background: rgba(254,248,97,0.5); -webkit-box-shadow: 0 0 40px 10px rgba(248,233,209,0.2); box-shadow: 0 0 40px 10px rgba(248,233,209,0.2); -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
  50% { background: rgba(255,50,0,0.1); -webkit-box-shadow: 0 0 40px 20px rgba(248,233,209,0.2); box-shadow: 0 0 40px 20px rgba(248,233,209,0.2); -webkit-transform: translateY(-20px) scale(0); transform: translateY(-20px) scale(0); }
}
@keyframes fuego {
  0%,100% { background: rgba(254,248,97,0.5); -webkit-box-shadow: 0 0 40px 10px rgba(248,233,209,0.2); box-shadow: 0 0 40px 10px rgba(248,233,209,0.2); -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
  50% { background: rgba(255,50,0,0.1); -webkit-box-shadow: 0 0 40px 20px rgba(248,233,209,0.2); box-shadow: 0 0 40px 20px rgba(248,233,209,0.2); -webkit-transform: translateY(-20px) scale(0); transform: translateY(-20px) scale(0); }
}
@-webkit-keyframes in {
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}
@keyframes in {
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}
.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  /* background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  ); */
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 7.2em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #FFB5C5, 0 0.5rem 3rem #FFB5C5;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #FFB5C5, 0 0.5rem 3rem #FFB5C5;
  }
  28%,
  33% {
    color: #FFB5C5;
    text-shadow: none;
  }
  82%,
  97% {
    color: #FFB5C5;
    text-shadow: none;
  }
}
.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}
.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}
@keyframes shine {
  0% {
    /* color: #6b1839; */
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #FFB5C5, 0 0.5rem 3rem #FFB5C5;
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
span.name {
  transform: translateY(160px);
}
div img {
  width: 150px;
  height: 120px;
  background-color: #FFC1C1;
}
.picture span {
  display: inline-block;
}
.picture span:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: 320px;
  width: 386px;
  height: 330px;
  background: url(back2.jpg); 
}
.picture span:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  transform: translatey(10px);
  width: 260px;
  height: 320px;
  background: url(back2.jpg);
  background-position-y: -320px;
  background-position-x: 14px;
}
.picture span:nth-of-type(3) {
  transform: translatey(10px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  height: 310px;
  background: url(back2.jpg);
  background-position-y: -320px;
  background-position-x: 360px;
}
